.new-form {
  margin-top: -50px;
  border: 1px solid lightgray;
  background: rgba(255, 255, 255, 0.9);
  padding: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 24px;
  font-weight: lighter !important;
  color: darkgray;
  border-radius: 4px;
  max-height: 80%;
}

.new-form-review {
  margin-top: -50px;
  border: 1px solid lightgray;
  background: rgba(255, 255, 255, 0.9);
  padding: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 24px;
  font-weight: lighter !important;
  color: darkgray;
  border-radius: 4px;
  max-height: 80%;
  text-align: center;
}

.new-form-password {
  border: 1px solid lightgray;
  background: rgba(255, 255, 255, 0.6);
  padding: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 24px;
  font-weight: lighter !important;
  color: darkgray;
  border-radius: 4px;
  max-height: 80%;
}

.sign-in {
  margin-top: 0px;
}

#banner-for-new {
  height: 180vh;
  background-position: center;
}

.input-from-new {
  width: 500px;
  height: 60px;
  border-radius: 4px;
}

.input-from-new-review {
  width: 500px;
  height: 60px;
  border-radius: 4px;
  margin: auto;
}
