
.sign-in-banner-flats {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -70px;
  color: #484848;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  background-position: center;
}

.sign-in-flex-show {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  max-height: 78%;
  border-radius: 4px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 18px;
  font-weight: lighter !important;
  text-align: left;
  margin-right: 50px;
  padding: 15px;

}

.sign-in-h1 {
  font-size: 24px;
  font-weight: 400;
}

.description-title {
  font-weight: 400;
  font-size: 18px;
}
.flat-description {
  list-style-type: none;
  width: 350px;
  margin-bottom: 10px;
}

.buttons-flats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

