.cards-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
  background-size: cover !important;
  height: 160vh;
}

.title {
  margin-top: 100px;
  color: snow;
}


#alternate-navbar {
  background-color: white;
  color: #333333 !important;
}

.navbar-wagon-link-alternate {
  color: #333333 !important;
}
#button a {
  font-weight: bold !important;
  color: black !important;
}

#button a:hover {
  color: #FA5C65 !important;
}

.paragraph-style {
  font-weight: 400;
  margin-bottom: 0px;
}

#city {
  margin-bottom: 10px;
}

.other-details {
  margin-bottom: 0px;
}

.title {
  font-family: "Raleway", "Helvetica", "sans-serif";
  margin-bottom: 30px;
}

.card-container {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 8px;
}

.card-detail-container {
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  padding: -5px;
}

.small-in-banner-flats {
  margin-top: 30px;
  color: #484848;
  text-align: center;
  height: 200px;
  width: 300px;
  background-size: cover !important;
  background-position: center;
  border-radius: 5px;
}

.small-in-banner-flats:hover {
  opacity: 0.6;
}

.card-description {
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 18px;
  font-weight: lighter !important;
  text-align: left;
}

.rating {
  color: #FA5C65;
}

