<h1>All flats</h1>

<ul>
<% @flats.each do |flat| %>
<li> <p> <%= link_to flat.name, flat_path(flat) %> in <%= flat.city %> for <%= flat.capacity %> persons -- <%= flat.price %>€ </p></li>
<% end %>
</ul>

