<div class="banner-main" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 10%, rgba(0,36,61,0.3) 70%), url(<%= image_path('santorini.jpg') %>);">
  <div class="banner-content">
    <h1> Book unique homes and experiences all over the world.
    </h1>
    <div class="input-group" id="stylish-input-group">
      <%= form_tag flats_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
          params[:query],
          id: "form-control",
          placeholder: "Try 'Barcelona'" %>

      <span class="input-group-addon">
      </span>
      <% end %>
    </div>
  </div>
</div>
