/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: none;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 200;
}
.alert-info {
  background: linear-gradient(to right, #00b09b, #96c93d);
}
.alert-warning {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}
