.banner-main {
  margin-top: -70px;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}
.banner h1 {
  font-size: 44px;
  max-width: 600px;
  text-align: left;
  font-weight: bold;
  margin-left: 300px;
  margin-top: -80px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  opacity: 0.6;
  margin-bottom: 30px;
}

#stylish-input-group #form-control{
  position: relative;
  color: #484848;
  margin-top: 20px;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  height: 50px;
  padding: 30px;
  box-shadow: 3px 3px 5px gray;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 28px;
  background-image: url("images/search-icon.png");
}

.input-group .input-group-addon{
  position: absolute;
  background: transparent;
  border: none;
  bottom: 15px;
}

#search-button {
    border: none !important;
}
